<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>

        {{ $style := resources.Get "css/main.css" | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        </head>
    <body>
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </body>
</html>
